.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes bounce
{
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 50px);
  }
  50% {
    transform: translate(20px, 50px);
  }
  75% {
    transform: translate(0, -50px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounce infinite 2s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Submit-Button {
  background-color: #007bff; 
  color: #ffffff; 
  border-color: #007bff; 
}
.Submit-Button:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

/* BUTTON STYLING ----------------------------------------------------- */
/*designed for the CSS for button on the REACT Page called "Homepage"*/
.Home-Page-Button
{
  background-color: black;
  color: whitesmoke;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family:'Times New Roman', Times, serif;
}

/*designed for the detailed questions page buttons*/
.Detailed-Qs button
{
  display: inline;
}

.Home-Page-Button:hover
{
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
}

#the-detailed-page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/116/398/original/modern-night-city-skyline-landscape-background-vector.jpg");
}

/*designed for the CSS for buttons on Homepage whne mouse hovers*/
.Page-to-Page:hover {
  background-color: whitesmoke;
  color: black;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

/*designed for the CSS for buttons on Homepage*/
.Page-to-Page {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

/*----------------------------------------------------------------------*/

/*CSS for Navigation Bar for each Page*/
.navbar {
  background-color: rgb(0, 0, 0, 0.4);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 0;
}

.navbar button {
  color: white;
  text-align: center;
}
/* ---------------------------------------------------------------------*/

/* Overall Home page Body ------------------------------------------------*/
#the-home-page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/116/398/original/modern-night-city-skyline-landscape-background-vector.jpg");
}

.homepage-body {
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  font-size: 12px;
  border-radius: 40px;
}

.homepage-body::after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {
  width: 50%;
  float: left;
  height: 700x;
}

.rightcolumn {
  width: 50%;
  float: left;
  height: 700px;
}

.container-purpose {
  padding: 5%;
  padding-bottom: 1%;
  padding-top: 2%;
  margin: 3%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 40px;
}

#purpose-content {
  font-size: 15px;
}

.container-FAQ {
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 3%;
  height: 40%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
  font-size:12.5px;
}

.container-basic {
  padding: 3%;
  margin: 3%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
  font-size:15px;
}

.container-detailed {
  padding: 3%;
  margin: 3%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
  font-size:15px;
}

#website-title {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 25px;
}

/* ---------------------------------------------*/

/* Footer */
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size:15px;
  font-style: italic;
  width: 100%;
  margin-top: 1%;
}

/* Basic Quiz Body --------------------------*/
#the-basic-page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/116/398/original/modern-night-city-skyline-landscape-background-vector.jpg");
}

.quiz-body {
  border-radius: 25px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  font-size: 12px;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.container-basic-question {
  font-size: 18px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}

.container-basic-question strong {
  font-size: 24px;
}

.container-basic-options {
  align-self: auto;
  font-size: 14px;
  padding: 2%;
  width: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  margin-left: 35%;
}

.container-quiz-buttons {
  text-align: center;
  margin-top: 40px;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  margin-left: 40%;
}

.container-quiz-buttons button {
  margin-right: 2%;
  margin-left: 2%;
  margin: 4%;
  background: rgb(120, 90, 201);
  border: rgb(74, 62, 62) solid 2px;
  border-radius: 10px;
  color: white;
}

.container-quiz-buttons button:disabled {
  color: rgb(0, 0, 0, 0.2);
  cursor: not-allowed;
}
/* ------------------------------------- */

/* Basic Questions Progress Bar */
.container-pbar {
  width: 100%;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: gray;
  transition: width 0.5s ease-out;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: green;
  transition: width 0.5s ease-out;
}

.progress-label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
/* --------------------------------- */

.container-detailed-options {
  align-self: auto;
  font-size: 14px;
  padding: 2%;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  margin-left: 15%;
  text-align: center;
}

/* Detailed Results Page --------------------------------------- */
#dresults-page {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/116/398/original/modern-night-city-skyline-landscape-background-vector.jpg");
  height: 900px;
}

.dresults-body {
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  font-size: 12px;
  border-radius: 40px;
}

.dresults-body::after {
  content: "";
  display: table;
  clear: both;
}

.dleftcolumn {
  width: 50%;
  float: left;
  height: 700x;
}

.drightcolumn {
  width: 50%;
  float: left;
  height: 700px;
}

.container-user-traits h5 {
  text-align: center;
  text-decoration: underline;
}

.container-user-traits {
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: 3%;
  height: 20.5%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
}

.container-first-job {
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 3%;
  height: 40%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
}

.container-second-job {
  padding: 3%;
  margin: 3%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
}

.container-third-job {
  padding: 3%;
  margin: 3%;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 25px;
}

.loading-indicator {
  border: #ffffff solid 2px;
  border-radius: 20px;
  background: rgb(120, 90, 201);
  text-align: center;
  
  position: fixed;
  top: 30%;
  left: 30%;

  padding: 100px;
  width: 600px;
  height: 220px;

  font-size: 20px;
}