.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes bounce
{
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 50px);
  }
  50% {
    transform: translate(20px, 50px);
  }
  75% {
    transform: translate(0, -50px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounce infinite 2s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Submit-Button {
  background-color: #007bff; 
  color: #ffffff; 
  border-color: #007bff; 
}
.Submit-Button:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

/* BUTTON STYLING ----------------------------------------------------- */
.Home-Page-Button
{
  background-color: black;
  color: whitesmoke;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family:'Times New Roman', Times, serif;
}

.Home-Page-Button:hover
{
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
}
.Page-to-Page:hover {
  background-color: whitesmoke;
  color: black;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

.Page-to-Page {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

/*----------------------------------------------------------------------*/

/*CSS for Navigation Bar for each Page*/
.navbar {
  background-color: yellow;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.navbar button {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}
/* ---------------------------------------------------------------------*/

/* Overall Home page Body */
.homepage-body {
  border: green solid 2px;
  height: 50em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12px;

  content: "";
  display: table;
  clear: both;
}

.container-WRM {
  border: pink dashed 2px;
  padding: 0.5%;
  float: left;
  width: 50%;
}

.container-FAQ {
  border:purple dashed 2px;
  padding: 0.5%;
  float: left;
  width: 50%;
}

.container-purpose {
  border: red dashed 2px;
  padding: 0.5%;
  float: left;
  width: 50%;
}

.container-basic {
  border: blue dashed 2px;
  padding: 0.5%;
  float: left;
  width: 50%;
}

.container-detailed {
  border: orange dashed 2px;
  padding: 0.5%;
  float: left;
  width: 50%;
}