.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes bounce
{
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 50px);
  }
  50% {
    transform: translate(20px, 50px);
  }
  75% {
    transform: translate(0, -50px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounce infinite 2s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Submit-Button {
  background-color: #007bff; 
  color: #ffffff; 
  border-color: #007bff; 
}
.Submit-Button:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

/*home page styling*/
h1
{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Home Page Content CSS (descriptions and such) */
.Home-Page-Body {
  position: fixed;
  left: 15%;
  right: 15%;
  top: 20%;
  width: 70%;
  height: 70%;
  border: 3px solid green;
}

.Home-Page-Button
{
  background-color: black;
  color: whitesmoke;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family:'Times New Roman', Times, serif;
}

.Home-Page-Button:hover
{
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.4s;
  padding: 15px 20px;
  font-size: 40px;
  border-color: #7e7e7e; 
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
}
.Page-to-Page:hover {
  background-color: whitesmoke;
  color: black;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

.Page-to-Page {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  float: active;
  transition-duration: 0.2s;
  border-color: #7e7e7e; 
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  display: table-row
}

/*CSS for Navigation Bar for each Page*/
.navbar {
  background-color: blue;
  overflow: hidden;
}

.navbar button {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Footer CSS Styling */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
  color: white;
  text-align: center;
}

/* Body CSS Styling */
.body {
  position: relative;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 1px;
  border: 2px solid red;
}

/* Paragraph Quiz Explainations */
.p-content {
  text-align: center;
  padding: 1%;
}

/* SCROLLABLE */
.whole-page {
  overflow: auto;
  position: relative;
  min-height: 150vh;
}

/* Home Page Column Content */
.container-home-column {
  float: left;
  width: 50%;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}